/* Кубы */

.cube-container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 6vh;
    width: 13vh;
    padding: 25px;
    border-radius: 5vh;
    gap: 15px;
    background-color: rgb(211, 209, 209);

    perspective: 70vh;
    perspective-origin: 50% 50%;
}

.cube {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: whitesmoke;
    border-radius: 4px;
    user-select: none;
    transition: 0.1s;

    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
}

.face {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgb(184, 31, 31);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #fff;
    background-position: center;
    background-size: 125%;
    border: 2px solid #b1363e;
    border-radius: 4px;
}

.front {
    transform: translateZ(18px);
    background-color: rgb(170, 28, 28);
    background-image: url(./imgs/cube/Слой\ 2.jpg);
}

.back {
    transform: rotateY(180deg) translateZ(18px);
    background-color: rgb(184, 31, 31);
    background-image: url(./imgs/cube/Слой\ 3.jpg);
}

.right {
    transform: rotateY(90deg) translateZ(18px);
    background-color: rgb(187, 36, 36);
    background-image: url(./imgs/cube/Слой\ 4.jpg);
}

.left {
    transform: rotateY(-90deg) translateZ(18px);
    background-color: rgb(184, 31, 31);
    background-image: url(./imgs/cube/Слой\ 5.jpg);
}

.top {
    transform: rotateX(90deg) translateZ(18px);
    background-color: rgb(173, 25, 25);
    background-image: url(./imgs/cube/Слой\ 6.jpg);
}

.bottom {
    transform: rotateX(-90deg) translateZ(18px);
    background-color: rgb(184, 31, 31);
    background-image: url(./imgs/cube/Слой\ 7.jpg);
}


.cube-hover:hover {
    /* animation-timing-function: ease;
    animation-duration: 3s;
    animation-name: hoverTheDice;
    animation-iteration-count: infinite;
    animation-direction: alternate; */

    cursor: pointer;
    transform: scale(105%);
    transition: 0.1s;
}

.roll-cube {
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-name: rollTheDice;
    animation-iteration-count: 1;
}

@keyframes hoverTheDice {

    from {
        transform: scaleX(100%) scaleY(100%) scaleZ(100%) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateX(0px) translateY(0px) translateZ(0px) skewX(0deg) skewY(0deg);
    }

    to {
        transform: scaleX(105%) scaleY(105%) scaleZ(105%) rotateX(180deg) rotateY(0deg) rotateZ(-180deg) translateX(0px) translateY(0px) translateZ(0px) skewX(0deg) skewY(0deg);
    }
}

@keyframes rollTheDice {

    from {
        transform: scaleX(100%) scaleY(100%) scaleZ(100%) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateX(0px) translateY(0px) translateZ(0px);
    }

    50% {
        transform: scaleX(135%) scaleY(135%) scaleZ(135%) rotateX(-445deg) rotateY(1145deg) rotateZ(345deg) translateX(0px) translateY(0px) translateZ(0px);
    }

    to {
        transform: scaleX(100%) scaleY(100%) scaleZ(100%) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateX(0px) translateY(0px) translateZ(0px);
    }
}