/* Кубы */

.cube-container-field {
    display: grid;
    grid-template-columns: 25% 25%;
    perspective: 70vh;
    perspective-origin: 50% 50%;
}

.cube-container-field:hover {
    cursor: pointer;
}

.cube {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: whitesmoke;
    border-radius: 4px;
    user-select: none;
    transition: 0.1s;

    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
}

.face {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgb(184, 31, 31);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #fff;
    background-position: center;
    background-size: 125%;
    border: 2px solid #b1363e;
    border-radius: 4px;
}

.front {
    transform: translateZ(18px);
    background-color: rgb(170, 28, 28);
    background-image: url(./imgs/cube/Слой\ 2.jpg);
}

.back {
    transform: rotateY(180deg) translateZ(18px);
    background-color: rgb(184, 31, 31);
    background-image: url(./imgs/cube/Слой\ 3.jpg);
}

.right {
    transform: rotateY(90deg) translateZ(18px);
    background-color: rgb(187, 36, 36);
    background-image: url(./imgs/cube/Слой\ 4.jpg);
}

.left {
    transform: rotateY(-90deg) translateZ(18px);
    background-color: rgb(184, 31, 31);
    background-image: url(./imgs/cube/Слой\ 5.jpg);
}

.top {
    transform: rotateX(90deg) translateZ(18px);
    background-color: rgb(173, 25, 25);
    background-image: url(./imgs/cube/Слой\ 6.jpg);
}

.bottom {
    transform: rotateX(-90deg) translateZ(18px);
    background-color: rgb(184, 31, 31);
    background-image: url(./imgs/cube/Слой\ 7.jpg);
}


.cube-hover:hover {
    /* animation-timing-function: ease;
    animation-duration: 3s;
    animation-name: hoverTheDice;
    animation-iteration-count: infinite;
    animation-direction: alternate; */

    cursor: pointer;
    transform: scale(105%);
    transition: 0.1s;
}

.roll-cube {
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-name: rollTheDice;
    animation-iteration-count: 1;
}